<div class="col-lg-4 mb-4" style="margin-left: 600px;">
  <br>
  <h2 style="margin-left: 120px;">Company overview</h2>
  <div class="card-body">

    <div class="card" *ngFor="let company of myCompany | keyvalue" style="padding: 5px 5px 5px 5px;">


      <input type="hidden" name="id" #companyId>
      <!-- <span class="card-text  text-black-50">{{myCompany.logo}}</span>
      <span class="card-text  text-black-50">{{myCompany.coverPhoto}}</span>
      <span class="card-text  text-black-50">{{myCompany.industry}}</span>
      <span class="card-text  text-black-50">{{myCompany.emp_count}}</span> -->
      <span class="card-title">{{company.key}} - {{company.value}}</span>


    </div>
  </div>
  <!-- error message
  <div class="alert" *ngIf="serverErrorMessages">
    {{serverErrorMessages}}
  </div> -->

</div>
