<div class="container-fluid" style="width: 1500px; margin-bottom: 200px;">
    <div class="mt-4">
        <div class="hstack d-flex justify-content-between gap-3">
            <div class="hstack">
                <select class="form-select w-50 mx-3" aria-label="Default select example">
                    <option selected>Open this select menu</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
                <select class="form-select w-50 " aria-label="Default select example">
                    <option selected>Open this select menu</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>

            </div>
            <div>
                <form class="d-flex mx-4">
                    <input class="form-control me-2 " type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-dark" type="submit">Search</button>
                </form>
            </div>
        </div>


    </div>
    <div class="row m-4 " style="max-height: 1000px">
        <div class="col-5 bg-light border rounded-3 p-3">
            <div class="m-1 mt-4 overflow-auto" style="max-height: 1000px">
                <div class="card mb-3" style="max-width: 510px; height: 150px; border-radius: 10px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSR_Ar5PUj-ufqDRkeFvvKi6U5KQJyHB_gvHFKljbNXbyISmfaMpaW4B_697_r_rx2hajU&usqp=CAU"
                                class="img-fluid  rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <p class="card-text">This content is a little bit longer.</p>
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3" style="max-width: 510px; height: 150px; border-radius: 10px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSR_Ar5PUj-ufqDRkeFvvKi6U5KQJyHB_gvHFKljbNXbyISmfaMpaW4B_697_r_rx2hajU&usqp=CAU"
                                class="img-fluid  rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <p class="card-text">This content is a little bit longer.</p>
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3" style="max-width: 510px; height: 150px; border-radius: 10px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSR_Ar5PUj-ufqDRkeFvvKi6U5KQJyHB_gvHFKljbNXbyISmfaMpaW4B_697_r_rx2hajU&usqp=CAU"
                                class="img-fluid  rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <p class="card-text">This content is a little bit longer.</p>
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3" style="max-width: 510px; height: 150px; border-radius: 10px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSR_Ar5PUj-ufqDRkeFvvKi6U5KQJyHB_gvHFKljbNXbyISmfaMpaW4B_697_r_rx2hajU&usqp=CAU"
                                class="img-fluid  rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <p class="card-text">This content is a little bit longer.</p>
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3" style="max-width: 510px; height: 150px; border-radius: 10px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSR_Ar5PUj-ufqDRkeFvvKi6U5KQJyHB_gvHFKljbNXbyISmfaMpaW4B_697_r_rx2hajU&usqp=CAU"
                                class="img-fluid  rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <p class="card-text">This content is a little bit longer.</p>
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3" style="max-width: 510px; height: 150px; border-radius: 10px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSR_Ar5PUj-ufqDRkeFvvKi6U5KQJyHB_gvHFKljbNXbyISmfaMpaW4B_697_r_rx2hajU&usqp=CAU"
                                class="img-fluid  rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <p class="card-text">This content is a little bit longer.</p>
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3" style="max-width: 510px; height: 150px; border-radius: 10px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSR_Ar5PUj-ufqDRkeFvvKi6U5KQJyHB_gvHFKljbNXbyISmfaMpaW4B_697_r_rx2hajU&usqp=CAU"
                                class="img-fluid  rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <p class="card-text">This content is a little bit longer.</p>
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3" style="max-width: 510px; height: 150px; border-radius: 10px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSR_Ar5PUj-ufqDRkeFvvKi6U5KQJyHB_gvHFKljbNXbyISmfaMpaW4B_697_r_rx2hajU&usqp=CAU"
                                class="img-fluid  rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <p class="card-text">This content is a little bit longer.</p>
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3" style="max-width: 510px; height: 150px; border-radius: 10px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSR_Ar5PUj-ufqDRkeFvvKi6U5KQJyHB_gvHFKljbNXbyISmfaMpaW4B_697_r_rx2hajU&usqp=CAU"
                                class="img-fluid  rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <p class="card-text">This content is a little bit longer.</p>
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-7 bg-light rounded-3 border border-secondary">
            <div class=" m-4 p-4">
                <div class="row">
                    <div class="col-10">
                        <div class="d-inline-flex">
                            <h6 class="text-muted ">eBay Inc.</h6>
                            <span class="text-muted mx-3 small">San Jose, CA</span>
                        </div>

                        <h3 class="">Software Engineer, Backend</h3>
                        <h6 class="text-muted">Full Time</h6>
                        <p class="mt-4 text-success" style="font-weight: 500;">24 Applicants</p>

                    </div>
                    <div class="col-2 mt-4">
                        <button type="button" class="btn w-100 btn-primary">Apply</button>
                    </div>
                </div>
                <div class="mt-5 overflow-auto jobdescription" style="max-height: 800px;">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorem doloremque quasi obcaecati
                    architecto quos, aliquam rerum officia numquam laboriosam voluptatem? Nisi quas veniam nemo minus
                    consequuntur fuga molestias sint deleniti? In, sapiente sint. Ipsa non iure laborum porro ipsam
                    impedit alias. Cupiditate dignissimos distinctio minus vero. Quasi quidem illo consectetur ipsam
                    ipsum soluta aspernatur earum sit nesciunt, similique officia voluptates, aliquid corporis adipisci!
                    Commodi deleniti non dolores sapiente cum laudantium esse voluptatem aliquid culpa. Mollitia
                    pariatur odit voluptas officia deserunt libero ipsam dolor tempore omnis quia numquam, veniam esse
                    rem doloribus saepe quasi eveniet nesciunt optio qui eligendi cumque architecto expedita et?
                    Asperiores magni nisi culpa, pariatur, fuga excepturi, deserunt doloremque eaque dolor possimus
                    reiciendis praesentium nesciunt obcaecati voluptate voluptatum ipsam voluptas ipsum. Eum esse odit
                    deleniti enim, amet porro provident commodi. Voluptas laudantium quaerat magni placeat, illo
                    consequuntur, sit dolor numquam error nam distinctio ipsam vero est! Corporis consequuntur dolore
                    dolor amet inventore doloribus magnam! Sit laborum optio fuga laudantium inventore modi recusandae
                    molestiae doloribus quos error sapiente vel harum quod tempora repellat accusamus vitae, rem
                    officia? Eligendi excepturi vero ipsam reprehenderit. Asperiores illum enim nulla soluta at
                    accusantium magni delectus voluptatum, obcaecati minus hic. Iure eos consequuntur dolor veritatis
                    soluta obcaecati ullam, similique deserunt eius magni accusantium suscipit libero. Eligendi minus,
                    aut laboriosam soluta, voluptates porro ut molestiae illo debitis voluptas voluptatum nulla
                    corrupti! Deserunt quod quo in accusamus. Similique quod omnis alias itaque odit nobis error
                    necessitatibus aperiam maxime, cupiditate, doloremque, ex amet libero? Eum, natus reprehenderit
                    minima ad sed consectetur minus cum incidunt quasi, et dignissimos magnam corporis eaque commodi
                    quia adipisci blanditiis rerum qui. Cum fugiat delectus consequuntur repellat nisi soluta labore in
                    illum!
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorem doloremque quasi obcaecati
                    architecto quos, aliquam rerum officia numquam laboriosam voluptatem? Nisi quas veniam nemo minus
                    consequuntur fuga molestias sint deleniti? In, sapiente sint. Ipsa non iure laborum porro ipsam
                    impedit alias. Cupiditate dignissimos distinctio minus vero. Quasi quidem illo consectetur ipsam
                    ipsum soluta aspernatur earum sit nesciunt, similique officia voluptates, aliquid corporis adipisci!
                    Commodi deleniti non dolores sapiente cum laudantium esse voluptatem aliquid culpa. Mollitia
                    pariatur odit voluptas officia deserunt libero ipsam dolor tempore omnis quia numquam, veniam esse
                    rem doloribus saepe quasi eveniet nesciunt optio qui eligendi cumque architecto expedita et?
                    Asperiores magni nisi culpa, pariatur, fuga excepturi, deserunt doloremque eaque dolor possimus
                    reiciendis praesentium nesciunt obcaecati voluptate voluptatum ipsam voluptas ipsum. Eum esse odit
                    deleniti enim, amet porro provident commodi. Voluptas laudantium quaerat magni placeat, illo
                    consequuntur, sit dolor numquam error nam distinctio ipsam vero est! Corporis consequuntur dolore
                    dolor amet inventore doloribus magnam! Sit laborum optio fuga laudantium inventore modi recusandae
                    molestiae doloribus quos error sapiente vel harum quod tempora repellat accusamus vitae, rem
                    officia? Eligendi excepturi vero ipsam reprehenderit. Asperiores illum enim nulla soluta at
                    accusantium magni delectus voluptatum, obcaecati minus hic. Iure eos consequuntur dolor veritatis
                    soluta obcaecati ullam, similique deserunt eius magni accusantium suscipit libero. Eligendi minus,
                    aut laboriosam soluta, voluptates porro ut molestiae illo debitis voluptas voluptatum nulla
                    corrupti! Deserunt quod quo in accusamus. Similique quod omnis alias itaque odit nobis error
                    necessitatibus aperiam maxime, cupiditate, doloremque, ex amet libero? Eum, natus reprehenderit
                    minima ad sed consectetur minus cum incidunt quasi, et dignissimos magnam corporis eaque commodi
                    quia adipisci blanditiis rerum qui. Cum fugiat delectus consequuntur repellat nisi soluta labore in
                    illum!
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorem doloremque quasi obcaecati
                    architecto quos, aliquam rerum officia numquam laboriosam voluptatem? Nisi quas veniam nemo minus
                    consequuntur fuga molestias sint deleniti? In, sapiente sint. Ipsa non iure laborum porro ipsam
                    impedit alias. Cupiditate dignissimos distinctio minus vero. Quasi quidem illo consectetur ipsam
                    ipsum soluta aspernatur earum sit nesciunt, similique officia voluptates, aliquid corporis adipisci!
                    Commodi deleniti non dolores sapiente cum laudantium esse voluptatem aliquid culpa. Mollitia
                    pariatur odit voluptas officia deserunt libero ipsam dolor tempore omnis quia numquam, veniam esse
                    rem doloribus saepe quasi eveniet nesciunt optio qui eligendi cumque architecto expedita et?
                    Asperiores magni nisi culpa, pariatur, fuga excepturi, deserunt doloremque eaque dolor possimus
                    reiciendis praesentium nesciunt obcaecati voluptate voluptatum ipsam voluptas ipsum. Eum esse odit
                    deleniti enim, amet porro provident commodi. Voluptas laudantium quaerat magni placeat, illo
                    consequuntur, sit dolor numquam error nam distinctio ipsam vero est! Corporis consequuntur dolore
                    dolor amet inventore doloribus magnam! Sit laborum optio fuga laudantium inventore modi recusandae
                    molestiae doloribus quos error sapiente vel harum quod tempora repellat accusamus vitae, rem
                    officia? Eligendi excepturi vero ipsam reprehenderit. Asperiores illum enim nulla soluta at
                    accusantium magni delectus voluptatum, obcaecati minus hic. Iure eos consequuntur dolor veritatis
                    soluta obcaecati ullam, similique deserunt eius magni accusantium suscipit libero. Eligendi minus,
                    aut laboriosam soluta, voluptates porro ut molestiae illo debitis voluptas voluptatum nulla
                    corrupti! Deserunt quod quo in accusamus. Similique quod omnis alias itaque odit nobis error
                    necessitatibus aperiam maxime, cupiditate, doloremque, ex amet libero? Eum, natus reprehenderit
                    minima ad sed consectetur minus cum incidunt quasi, et dignissimos magnam corporis eaque commodi
                    quia adipisci blanditiis rerum qui. Cum fugiat delectus consequuntur repellat nisi soluta labore in
                    illum!
                </div>
            </div>



        </div>

    </div>
</div>