<div class="container mt-5">
    <h3 class="In-Formheaders">My Questions Pool</h3><br>
    <div class="panel panel-primary mb-5" *ngFor="let interview of questionpool.InterviewQuestion">
        <div class="question">
            {{interview.Question}}
            <div row></div>
        </div>
        <div class="answer">
            {{interview.Answer}}

            <div class="">
                <button type="submit" class="btn btn-primary" value="Edit" class="In-update">Update</button>
                <button type="submit" class="btn btn-primary" value="Delete" class="In-delete">Delete</button>
            </div>
        </div>

    </div>
</div>