<div class="container mt-5 mb-5 ">
    <button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
        {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
    </button>
    <mat-stepper [linear]="isLinear" #stepper>
        <mat-step [stepControl]="firstFormGroup">
            <form [formGroup]="firstFormGroup">

                <div>
                    <button mat-button matStepperNext>Next</button>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup" label="Fill out your address">
            <form [formGroup]="secondFormGroup">

                <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext>Next</button>
                </div>
            </form>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Done</ng-template>

            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button (click)="stepper.reset()">Reset</button>
            </div>
        </mat-step>
    </mat-stepper>




    <div class="row m-3">
        <form #joppostForm="ngForm" class=" d-flex" ngNativeValidate (ngSubmit)="onSubmit(joppostForm)">

            <div class="col-8 mt-3">
                <h2 class="mb-5">Create Job Post</h2>


                <input type="hidden" name='_id' #_id="ngModel" [(ngModel)]="jobpostservice.selectedJob._id">

                <div class="">

                    <mat-form-field class="mat-form-field-job" appearance="outline">
                        <mat-label>Title</mat-label>
                        <input matInput type="text" id="title" name='title' #title="ngModel"
                            [(ngModel)]="jobpostservice.selectedJob.title" required>
                    </mat-form-field>

                </div>
                <div class="">

                    <mat-form-field class="mat-form-field-job" appearance="outline">
                        <mat-label>Company</mat-label>
                        <input matInput type="text" id="company" name='company' aria-describedby="companyhelp"
                            #company="ngModel" [(ngModel)]="jobpostservice.selectedJob.company" required>
                    </mat-form-field>


                </div>
                <div class="">
                    <mat-form-field class="mat-form-field-job" appearance="outline">
                        <mat-label>Location</mat-label>
                        <input matInput type="text" id="location" name='location' aria-describedby="locationhelp"
                            #location="ngModel" [(ngModel)]="jobpostservice.selectedJob.location" required>
                    </mat-form-field>

                </div>
                <div class="">

                    <mat-form-field class="mat-form-field-job" appearance="outline">
                        <mat-label>Industry</mat-label>
                        <mat-select name='industry' aria-label="industry" #industry="ngModel"
                            [(ngModel)]="jobpostservice.selectedJob.industry" required>
                            <mat-option value="one">First option</mat-option>
                            <mat-option value="two">Second option</mat-option>
                        </mat-select>
                    </mat-form-field>

                </div>
                <div class="mt-2">
                    <label class="fs-6">Job Type: &nbsp;&nbsp;&nbsp; </label>
                    <mat-radio-group aria-label="Select an option" type="radio" name="type" #type="ngModel"
                        [(ngModel)]="jobpostservice.selectedJob.type" required>
                        <mat-radio-button value="Full Time">Full Time</mat-radio-button>
                        <mat-radio-button value="Part Time">Part Time</mat-radio-button>
                        <mat-radio-button value="Internship">Internship</mat-radio-button>
                    </mat-radio-group>


                </div>
                <div class="mt-3">

                    <label class="fs-6">Actively Hiring: &nbsp;&nbsp; &nbsp; </label>
                    <mat-radio-group aria-label="Select an option" type="radio" name="activelyHiring"
                        #activelyHiring="ngModel" [(ngModel)]="jobpostservice.selectedJob.activelyHiring" required>
                        <mat-radio-button value="Yes">Yes</mat-radio-button>
                        <mat-radio-button value="No">No</mat-radio-button>
                    </mat-radio-group>


                </div>
                <div class="salary-container mt-4">
                    <mat-form-field class="mat-form-field-job" appearance="outline">
                        <mat-label>Salary</mat-label>
                        <input matInput type="number" class="salary-right-align" name="salary"
                            aria-label="Amount (to the nearest dollar)" #salary="ngModel" min="10" placeholder="0.00"
                            [(ngModel)]="jobpostservice.selectedJob.salary" required>
                        <span matPrefix>$&nbsp; </span>
                        <span matSuffix></span>
                    </mat-form-field>


                </div>

                <div class="">

                    <mat-form-field class="mat-form-field-job" appearance="outline">
                        <mat-label>Expected Applicants</mat-label>
                        <input matInput type="number" id="expapplicants" class="salary-right-align"
                            name="expectedApplicants" min="10" aria-describedby="expapplicantshelp" placeholder="0"
                            #expectedApplicants="ngModel" [(ngModel)]="jobpostservice.selectedJob.expectedApplicants"
                            required>

                    </mat-form-field>

                </div>
                <div class="mb-3">

                    <mat-form-field class="mat-form-field-job" appearance="outline">
                        <mat-label>Company Website</mat-label>
                        <input (focus)="markTouched()" matInput placeholder="Enter your url" [formControl]="url"
                            name="website" [(ngModel)]="jobpostservice.selectedJob.website" type="text" required>
                        <mat-error *ngIf="url.hasError('required')">
                            Url required
                        </mat-error>
                        <mat-error *ngIf="url.hasError('pattern')">
                            Url Pattern Invalid
                        </mat-error>
                    </mat-form-field>


                </div>
                <div class="">

                    <mat-form-field class="mat-form-field-job" appearance="outline">
                        <mat-label>Job Description</mat-label>
                        <textarea matInput placeholder="Let's make a great job description" id="description"
                            name="description" rows="3" #description="ngModel" minlength="10" maxlength="1000"
                            [(ngModel)]="jobpostservice.selectedJob.description" required></textarea>
                        <mat-hint align="end">{{description.value?.length || 0}}/1000</mat-hint>
                    </mat-form-field>

                </div>

                <button type="submit" (click)="setPublish(true)"
                    class="btn btn-primary mt-4 pull-right">Publish</button>
                <button type="submit" (click)="setPublish(false)" class="btn btn-secondary mt-4 pull-right mx-3">Save as
                    draft</button>

            </div>
            <div class="col mt-5 ">
                <div class="card mt-5" style="width: 18rem;">
                    <ng-container *ngIf="isImageSaved">
                        <img [src]="cardImageBase64" />
                    </ng-container>
                    <img *ngIf="!isImageSaved" src="../../../assets/images/logo.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="mb-3">
                            <label for="formFile" class="form-label">Upload your company logo here</label>
                            <input class="form-control" type="file" id="formFile" (change)="fileChangeEvent($event)"
                                (click)="removeImage()" name="image" #image='ngModel'
                                [(ngModel)]="jobpostservice.selectedJob.image" required>

                            <div [hidden]="image.errors?.required" class="alert alert-danger mt-2"> Image is
                                required
                            </div>


                            <div *ngIf="imageError" class="alert alert-danger mt-2"> {{imageError}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </form>


    </div>

</div>