<div class="container mt-5 mb-5 ">
    <div class="row m-3">
        <div class="col-8 mt-3">
            <h2>Create Job Post</h2>
            <form class="mt-5">

                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" class="form-control" id="title" aria-describedby="titlehelp">
                    <!-- <div id="titlehelp" class="form-text"></div> -->
                </div>
                <div class="mb-3">
                    <label for="company" class="form-label">Company</label>
                    <input type="text" class="form-control" id="company" aria-describedby="companyhelp">
                    <!-- <div id="companyhelp" class="form-text"></div> -->
                </div>
                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input type="text" class="form-control" id="location" aria-describedby="locationhelp">
                    <!-- <div id="locationhelp" class="form-text"></div> -->
                </div>
                <div class="mb-3">
                    <label for="industry" class="form-label">Industry</label>
                    <select class="form-select " aria-label="industry">
                        <option selected>Select</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="type" class="form-label me-5">Job Type</label>
                    <div class="form-check form-check-inline me-4">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="fulltime"
                            value="option1">
                        <label class="form-check-label" for="fulltime">Full Time</label>
                    </div>
                    <div class="form-check form-check-inline me-4">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="parttime"
                            value="option2">
                        <label class="form-check-label" for="parttime">Part Time</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="internship"
                            value="option3">
                        <label class="form-check-label" for="internship">Internship</label>
                    </div>

                </div>
                <div class="mb-3">
                    <label for="type" class="form-label me-5">Actively Hiring</label>
                    <div class="form-check form-check-inline me-4">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="acyes"
                            value="option1">
                        <label class="form-check-label" for="acyes">Yes</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="acno"
                            value="option2">
                        <label class="form-check-label" for="acno">No</label>
                    </div>


                </div>
                <div class="md-3 w-25">
                    <label for="salary" class="form-label">Salary</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text">$</span>
                        <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                        <span class="input-group-text">.00</span>
                    </div>
                </div>

                <div class="mb-3 mt-3 w-25">
                    <label for="expapplicants" class="form-label">Expected Applicants</label>
                    <input type="number" class="form-control" id="expapplicants" aria-describedby="expapplicantshelp">
                    <!-- <div id="expapplicantshelp" class="form-text"></div> -->
                </div>
                <div class="mb-3">
                    <label for="basic-url" class="form-label">Company</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon3">https://</span>
                        <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
                    </div>
                    <!-- <div id="websitehelp" class="form-text"></div> -->
                </div>

                <button type="submit" class="btn btn-primary mt-4 pull-right">Publish</button>
            </form>
        </div>
        <div class="col mt-5">
            <div class="card mt-3" style="width: 18rem;">
                <img src="../../../assets/images/logo.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <div class="mb-3">
                        <label for="formFile" class="form-label">Upload your company logo here</label>
                        <input class="form-control" type="file" id="formFile">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>