<div class="container d-flex">
    <div class="card-success-job">
        <div class="" style="border-radius:200px; height:200px; width:200px; background: #F8FAF5; margin:0 auto;">
            <i class="checkmark-card-success-job ">✓</i>

        </div>
        <h1 class="checkmark-card-success-job-h2 text-center">Success</h1>
        <p class="checkmark-card-success-job-p text-center">You job listing published successfully </p>
        <div class="mt-4  d-flex justify-content-center">

            <button class="mx-1" mat-raised-button routerLink="/myjobs">My Jobs</button>
            <button class="mx-1" mat-raised-button routerLink="/" color="primary">Home</button>

        </div>


    </div>
</div>