.crop {
  height: 170px;
  overflow: hidden;
}

/* .crop img {
  width: 400px;
  height: 300px;
} */

.text {
  /* display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 53ch; */
}

.card {
  height: 450px;
}

.allCardShadows {
  -webkit-box-shadow: 5px 5px 12px -12px #7c7c7c;
  box-shadow: 5px 5px 12px -12px #7c7c7c;
}
