<!-- <div *ngIf="companies.length > 0">
  <div class="card mb-3" style="max-width: 300px; height: 150px; border-radius: 10px;"
    *ngFor="let company of companies">
  </div>
</div>
<p *ngIf="companies.length <= 0">No companies</p> -->


<div class="container-fluid" style="width: 1300px; margin-bottom: 200px;" *ngIf="companiesService.myCompanyMode==false">
  <div class="mt-4">

    <div class="hstack d-flex justify-content-between gap-3">
      <div class="hstack mx-4">

        <!-- filter by industry -->
        <div class="me-3" style="font-size: 12px">
          <mat-form-field appearance="outline" [style.width.px]=340>
            <mat-label>Industry</mat-label>
            <mat-select [(ngModel)]="industry" (ngModelChange)="ngOnInit()">
              <mat-option value="none">None</mat-option>
              <mat-option value="IT/Software">IT/Software</mat-option>
              <mat-option value="Technology">Technology</mat-option>
              <mat-option value="Real Estate">Real Estate</mat-option>
              <mat-option value="Consumer Goods">Consumer Goods</mat-option>
              <mat-option value="Automobile">Automobile</mat-option>
              <mat-option value="Other">Other</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <!-- filter by location -->
        <!-- <div class="me-3" style="font-size: 12px">
          <mat-form-field appearance="outline">
            <mat-label>Location</mat-label>
            <mat-select>
              <mat-option></mat-option>
            </mat-select>
          </mat-form-field>
        </div> -->
      </div>

      <!-- search function -->
      <div>
        <div class="d-flex mx-4">
          <input class="form-control " style="width: 400px;" type="text" placeholder="Search" aria-label="Search"
            [(ngModel)]="title" (ngModelChange)="ngOnInit()">
        </div>
      </div>
    </div>
    <hr>
    <br>
    <div class="text-secondary">
      <h3 class="text-center">Companies Recomended For you....</h3>
    </div>

    <div class="card-deck">

      <div class="col-sm-4" *ngFor="let company of companies | paginate: {itemsPerPage:6, currentPage:page}">
        <div style="padding: 25px 30px 25px 30px;">
          <form (submit)="viewCompany(company._id, company.title)" #companyForm="ngForm">

            <div class="card">
              <div class="crop">
                <!-- <img [src]="company.coverPhoto"> -->
                <img [src]="company.coverPhoto" class="card-img-top" src="..." alt="Card image cap">

              </div>

              <div class="card-body">

                <input type="hidden" name="id" value='{{company._id}}' #companyId>

                <h5 class="card-title">{{company.title}}</h5>
                <p class="card-text text">{{company.description}}</p>



              </div>
              <div class="card-footer text-muted" style="background-color: white; border: none;">
                <input type="submit" value="View Company" class="btn btn-outline-success btn-sm" />
                &nbsp;

              </div>
            </div>

          </form>

        </div>
      </div>

    </div>
    <br>
    <!-- pagination -->
    <pagination-controls (pageChange)="page = $event" style=" text-align: center;"></pagination-controls>
    <!-- error message -->
    <div class="alert" *ngIf="serverErrorMessages">
      {{serverErrorMessages}}
    </div>

  </div>
</div>

<div *ngIf="companiesService.myCompanyMode==true">
  <app-all-company-detail></app-all-company-detail>
</div>
