<div class="container mt-5">
<h3 class="In-Formheaders"> Common Interview Questions</h3><br>
    <div class="search-right">
        <input type="text" name="searchtext" [(ngModel)]="searchtext" placeholder="Search">
        <button type="submit"><i class="fa fa-search"></i></button>
    </div>
    <br>
    <div class="panel panel-primary" *ngFor="let interview of is.InterviewQuestion | filter:searchtext">
        <div class="question">
            {{interview.Question}}
            <!--<button style="font-size:14px" class="heart"><i class="fa fa-heart-o" style="font-size:22px"></i></button>-->
           <button style="font-size:14px" class="fa fa-heart" (click)="save(interview._id)"
                ></button>

        <!--<input type="checkbox">-->
                
        </div>
        <div class="answer" >
            {{interview.Answer}}
        </div>
        <br>
    </div>
</div>