<div class="container-lg mt-5">
  <div class="row">
    <div class="col-3 ">
      <div class="card-body ">
        <div class="d-grid gap-2 col-9 mx-auto">
          <img src="../../../assets/images/64572.png" style="width: 150px; " class="card-img-top" alt="...">
          <!-- <input style="width: 200px;" class="form-control" type="file" id="formFile" name="image" required> -->

        </div>
      </div>
      <div class="d-grid gap-2 col-8 mx-auto mt-5 mb-5">
        <button class="btn btn-outline-secondary" type="button">Profile</button>
        <a class="btn btn-outline-secondary" routerLink="/resumes">Resumes</a>
        <button class="btn btn-outline-secondary" type="button">Cover Letters</button>


      </div>

    </div>
    <div class="col-9 bg-light">


    </div>
  </div>
</div>