<div class="container mt-5">
    <div class="cell cell-1"></div>
    <div class="cell cell-2"></div>
    <div class="cell cell-3"></div>
    <div class="cell cell-4"><button class="In-submit" (click)="CommonInterviewsbtnClick();">Common Interview
            Questions</button></div>
    <div class="cell cell-5"><button class="In-submit" (click)="InterviewGuidelinebtnClick();">Interview
            Guidlines</button></div>
    <div class="cell cell-6"><button class="In-submit" (click)="SavedQuestionbtnClick();">Saved Questions</button></div>
</div>