<div class="container mt-5 mb-5 ">
    <div class="row m-3">
        <div class="col-8 mt-3">
            <h2>Edit Job Post</h2>
            <form #joppostForm="ngForm" class="mt-5 " (ngSubmit)="onSubmit(joppostForm)">

                <input type="hidden" name='_id' #_id="ngModel" [(ngModel)]="jobpostservice.selectedJob._id">

                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" class="form-control" id="title" name='title' aria-describedby="titlehelp"
                        #title="ngModel" [(ngModel)]="jobpostservice.selectedJob.title">
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <!-- <div id="titlehelp" class="form-text"></div> -->
                </div>
                <div class="mb-3">
                    <label for="company" class="form-label">Company</label>
                    <input type="text" class="form-control" id="company" name='company' aria-describedby="companyhelp"
                        #company="ngModel" [(ngModel)]="jobpostservice.selectedJob.title" required>
                    <!-- <div id="companyhelp" class="form-text"></div> -->
                </div>
                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input type="text" class="form-control" id="location" name='location'
                        aria-describedby="locationhelp" #location="ngModel"
                        [(ngModel)]="jobpostservice.selectedJob.location" required>
                    <!-- <div id="locationhelp" class="form-text"></div> -->
                </div>
                <div class="mb-3">
                    <label for="industry" class="form-label">Industry</label>
                    <select class="form-select " name='industry' aria-label="industry" #industry="ngModel"
                        [(ngModel)]="jobpostservice.selectedJob.industry" required>
                        <option selected>Select</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="type" class="form-label me-5">Job Type</label>
                    <div class="form-check form-check-inline me-4">
                        <input class="form-check-input" type="radio" name="type" id="fulltime" value="fulltime"
                            #type="ngModel" [(ngModel)]="jobpostservice.selectedJob.type">
                        <label class="form-check-label" for="fulltime">Full Time</label>
                    </div>
                    <div class="form-check form-check-inline me-4">
                        <input class="form-check-input" type="radio" name="type" id="parttime" value="parttime"
                            #type="ngModel" [(ngModel)]="jobpostservice.selectedJob.type">
                        <label class="form-check-label" for="parttime">Part Time</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="type" id="internship" value="internship"
                            #type="ngModel" [(ngModel)]="jobpostservice.selectedJob.type">
                        <label class="form-check-label" for="internship">Internship</label>
                    </div>

                </div>
                <div class="mb-3">
                    <label for="ahstatus" class="form-label me-5">Actively Hiring</label>
                    <div class="form-check form-check-inline me-4">
                        <input class="form-check-input" type="radio" name="activelyHiring" id="acyes" value="Yes"
                            #activelyHiring="ngModel" [(ngModel)]="jobpostservice.selectedJob.activelyHiring">
                        <label class="form-check-label" for="acyes">Yes</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="activelyHiring" id="acno" value="No"
                            #activelyHiring="ngModel" [(ngModel)]="jobpostservice.selectedJob.activelyHiring">
                        <label class="form-check-label" for="acno">No</label>
                    </div>


                </div>
                <div class="md-3 w-25">
                    <label for="salary" class="form-label">Salary</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text">$</span>
                        <input type="number" class="form-control" name="salary"
                            aria-label="Amount (to the nearest dollar)" #salary="ngModel"
                            [(ngModel)]="jobpostservice.selectedJob.salary" required>
                        <span class="input-group-text">.00</span>
                    </div>
                </div>

                <div class="mb-3 mt-3 w-25">
                    <label for="expapplicants" class="form-label">Expected Applicants</label>
                    <input type="number" class="form-control" id="expapplicants" name="expectedApplicants"
                        aria-describedby="expapplicantshelp" min="5" #expectedApplicants="ngModel"
                        [(ngModel)]="jobpostservice.selectedJob.expectedApplicants" required>
                    <!-- <div id="expapplicantshelp" class="form-text"></div> -->
                </div>
                <div class="mb-3">
                    <label for="website" class="form-label">Company Website</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon3">https://</span>
                        <input type="text" class="form-control" id="website" aria-describedby="basic-addon3"
                            name="website" #website="ngModel" [(ngModel)]="jobpostservice.selectedJob.website" required>
                    </div>
                    <!-- <div id="websitehelp" class="form-text"></div> -->
                </div>
                <div class="mb-3 mt-5">
                    <label for="description" class="form-label">Job Description</label>
                    <textarea class="form-control " id="description" name="description" rows="3" #description="ngModel"
                        [(ngModel)]="jobpostservice.selectedJob.description" required></textarea>
                </div>

                <button type="submit" class="btn btn-primary mt-4 pull-right">Publish</button>
                <button type="submit" class="btn btn-secondary mt-4 pull-right mx-3">Save as draft</button>
            </form>
        </div>
        <div class="col mt-5">
            <div class="card mt-5" style="width: 18rem;">
                <img src="../../../assets/images/logo.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <div class="mb-3">
                        <label for="formFile" class="form-label">Upload your company logo here</label>
                        <input class="form-control" type="file" id="formFile">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>