<div>
    <div class="header-dark">
        <nav class="navbar navbar-dark navbar-expand-md navigation-clean-search">
            <div class="container"><a class="navbar-brand" routerLink="/">CareerFinder</a><button class="navbar-toggler"
                    data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Menu</span><span
                        class="navbar-toggler-icon"></span></button>

                <div class="collapse navbar-collapse" id="navcol-1">
                    <ul class="nav navbar-nav">
                        <!-- Jobs -->
                        <li class="dropdown"><a class="dropdown-toggle nav-link dropdown-toggle" data-toggle="dropdown"
                                aria-expanded="false" routerLink="#">Jobs</a>
                            <div class="dropdown-menu" role="menu">
                                <a class="dropdown-item" role="presentation" routerLink="/jobs">Jobs</a>
                                <a class="dropdown-item" role="presentation" routerLink="#">My Jobs</a>
                                <a class="dropdown-item" role="presentation" routerLink="/createJob">Create Job</a>
                            </div>
                        </li>
                        <!-- companies -->
                        <li class="dropdown"><a class="dropdown-toggle nav-link dropdown-toggle" data-toggle="dropdown"
                                aria-expanded="false" routerLink="#">Companies</a>
                            <div class="dropdown-menu" role="menu"><a class="dropdown-item" role="presentation"
                                    routerLink="#">First Item</a><a class="dropdown-item" role="presentation"
                                    routerLink="#">Second
                                    Item</a><a class="dropdown-item" role="presentation" routerLink="#">Third Item</a>
                            </div>
                        </li>
                        <!-- Interview -->
                        <li class="dropdown"><a class="dropdown-toggle nav-link dropdown-toggle" data-toggle="dropdown"
                                aria-expanded="false" routerLink="#">Interview Questions</a>
                            <div class="dropdown-menu" role="menu"><a class="dropdown-item" role="presentation"
                                    routerLink="#">First Item</a><a class="dropdown-item" role="presentation"
                                    routerLink="#">Second
                                    Item</a><a class="dropdown-item" role="presentation" routerLink="#">Third Item</a>
                            </div>
                        </li>

                    </ul>
                    <form class="form-inline mr-auto" target="_self">
                        <!-- search -->
                        <!-- <div class="form-group"><label for="search-field"><i class="fa fa-search"></i></label><input
                                class="form-control search-field" type="search" name="search" id="search-field">
                        </div> -->
                    </form><span class="navbar-text"><a routerLink="#" class="login">Log In</a></span><a
                        class="btn btn-dark " role="button" routerLink="#">Sign Up</a>
                </div>
            </div>
        </nav>
        <div class="container hero" *ngIf="hasRoute('/')">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <h1 class="text-center">Find Your Dream Job.</h1>
                    <div class="hero-content"></div>

                </div>
            </div>
        </div>
    </div>
</div>