.crop {
  height: 170px;
  overflow: hidden;
}

/* .crop img {
  width: 400px;
  height: 300px;
} */

.card {
  height: 450px;
}

.text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 500px;
  max-height: 500px;
}
