<!-- <div class="container-fluid" style="width: 1500px; margin-bottom: 200px;">

    <div class="mt-4">
        <div class="hstack d-flex justify-content-between gap-3">
            <div class="hstack">
                <select class="form-select w-50 mx-3" aria-label="Default select example">
                    <option selected>Open this select menu</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
                <select class="form-select w-50 " aria-label="Default select example">
                    <option selected>Open this select menu</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>

            </div>
            <div>
                <form class="d-flex mx-4">
                    <input class="form-control me-2 " type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-dark" type="submit">Search</button>
                </form>
            </div>
        </div>


    </div>
    <div class="row m-4 " style="max-height: 1000px">
        <div class="col-5 bg-light border rounded-3 p-3 ">
            <div class="m-1 mt-4 overflow-auto" style="max-height: 1000px">

                <div class="card mb-3" style="max-width: 510px; height: 200px; border-radius: 10px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSR_Ar5PUj-ufqDRkeFvvKi6U5KQJyHB_gvHFKljbNXbyISmfaMpaW4B_697_r_rx2hajU&usqp=CAU"
                                class="img-fluid  rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <span class="card-text text-black-50">eBay Inc.</span>
                                <h5 class="card-title m-0">Software Engineer, Backend</h5>
                                <span class="card-text  text-black-50">San Jose, CA</span>
                                <p class="card-text mt-2"><small class="text-muted">10d</small> </p>
                                <button type="button" class="btn btn-outline-dark pull-right w-50">Unpublish</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3" style="max-width: 510px; height: 200px; border-radius: 10px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSR_Ar5PUj-ufqDRkeFvvKi6U5KQJyHB_gvHFKljbNXbyISmfaMpaW4B_697_r_rx2hajU&usqp=CAU"
                                class="img-fluid  rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <span class="card-text text-black-50">eBay Inc.</span>
                                <h5 class="card-title m-0">Software Engineer, Backend</h5>
                                <span class="card-text  text-black-50">San Jose, CA</span>
                                <p class="card-text mt-2"><small class="text-muted">10d</small> </p>
                                <button type="button" class="btn btn-outline-dark pull-right w-50">Unpublish</button>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
        <div class="col-7 bg-white rounded-3 border border-secondary">
            <div class=" m-4 p-4">
                <div class="row">
                    <div class="col-8">
                        <div class="d-inline-flex">
                            <h6 class="text-muted ">eBay Inc.</h6>
                            <span class="text-muted mx-3 small">San Jose, CA</span>
                        </div>

                        <h3 class="">Software Engineer, Backend</h3>
                        <h6 class="text-muted">Full Time</h6>
                        <p class="mt-4 text-success" style="font-weight: 500;">24 Applicants</p>

                    </div>
                    <div class="col-4 mt-4 d-flex h-25 ">
                        <button type="button" class="btn w-100 mx-2 btn-primary " routerLink="editjobs">Edit</button>
                        <button type="button" class="btn w-100 btn-danger" (click)="open(content)">Delete</button>
                    </div>
                </div>
                <div class="mt-5 overflow-auto jobdescription" style="max-height: 800px;">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorem doloremque quasi obcaecati
                    architecto quos, aliquam rerum officia numquam laboriosam voluptatem? Nisi quas veniam nemo minus
                    consequuntur fuga molestias sint deleniti? In, sapiente sint. Ipsa non iure laborum porro ipsam
                    impedit alias. Cupiditate dignissimos distinctio minus vero. Quasi quidem illo consectetur ipsam
                    ipsum soluta aspernatur earum sit nesciunt, similique officia voluptates, aliquid corporis adipisci!
                    Commodi deleniti non dolores sapiente cum laudantium esse voluptatem aliquid culpa. Mollitia
                    pariatur odit voluptas officia deserunt libero ipsam dolor tempore omnis quia numquam, veniam esse
                    rem doloribus saepe quasi eveniet nesciunt optio qui eligendi cumque architecto expedita et?
                    Asperiores magni nisi culpa, pariatur, fuga excepturi, deserunt doloremque eaque dolor possimus
                    reiciendis praesentium nesciunt obcaecati voluptate voluptatum ipsam voluptas ipsum. Eum esse odit
                    deleniti enim, amet porro provident commodi. Voluptas laudantium quaerat magni placeat, illo
                    consequuntur, sit dolor numquam error nam distinctio ipsam vero est! Corporis consequuntur dolore
                    dolor amet inventore doloribus magnam! Sit laborum optio fuga laudantium inventore modi recusandae
                    molestiae doloribus quos error sapiente vel harum quod tempora repellat accusamus vitae, rem
                    officia? Eligendi excepturi vero ipsam reprehenderit. Asperiores illum enim nulla soluta at
                    accusantium magni delectus voluptatum, obcaecati minus hic. Iure eos consequuntur dolor veritatis
                    soluta obcaecati ullam, similique deserunt eius magni accusantium suscipit libero. Eligendi minus,
                    aut laboriosam soluta, voluptates porro ut molestiae illo debitis voluptas voluptatum nulla
                    corrupti! Deserunt quod quo in accusamus. Similique quod omnis alias itaque odit nobis error
                    necessitatibus aperiam maxime, cupiditate, doloremque, ex amet libero? Eum, natus reprehenderit
                    minima ad sed consectetur minus cum incidunt quasi, et dignissimos magnam corporis eaque commodi
                    quia adipisci blanditiis rerum qui. Cum fugiat delectus consequuntur repellat nisi soluta labore in
                    illum!
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorem doloremque quasi obcaecati
                    architecto quos, aliquam rerum officia numquam laboriosam voluptatem? Nisi quas veniam nemo minus
                    consequuntur fuga molestias sint deleniti? In, sapiente sint. Ipsa non iure laborum porro ipsam
                    impedit alias. Cupiditate dignissimos distinctio minus vero. Quasi quidem illo consectetur ipsam
                    ipsum soluta aspernatur earum sit nesciunt, similique officia voluptates, aliquid corporis adipisci!
                    Commodi deleniti non dolores sapiente cum laudantium esse voluptatem aliquid culpa. Mollitia
                    pariatur odit voluptas officia deserunt libero ipsam dolor tempore omnis quia numquam, veniam esse
                    rem doloribus saepe quasi eveniet nesciunt optio qui eligendi cumque architecto expedita et?
                    Asperiores magni nisi culpa, pariatur, fuga excepturi, deserunt doloremque eaque dolor possimus
                    reiciendis praesentium nesciunt obcaecati voluptate voluptatum ipsam voluptas ipsum. Eum esse odit
                    deleniti enim, amet porro provident commodi. Voluptas laudantium quaerat magni placeat, illo
                    consequuntur, sit dolor numquam error nam distinctio ipsam vero est! Corporis consequuntur dolore
                    dolor amet inventore doloribus magnam! Sit laborum optio fuga laudantium inventore modi recusandae
                    molestiae doloribus quos error sapiente vel harum quod tempora repellat accusamus vitae, rem
                    officia? Eligendi excepturi vero ipsam reprehenderit. Asperiores illum enim nulla soluta at
                    accusantium magni delectus voluptatum, obcaecati minus hic. Iure eos consequuntur dolor veritatis
                    soluta obcaecati ullam, similique deserunt eius magni accusantium suscipit libero. Eligendi minus,
                    aut laboriosam soluta, voluptates porro ut molestiae illo debitis voluptas voluptatum nulla
                    corrupti! Deserunt quod quo in accusamus. Similique quod omnis alias itaque odit nobis error
                    necessitatibus aperiam maxime, cupiditate, doloremque, ex amet libero? Eum, natus reprehenderit
                    minima ad sed consectetur minus cum incidunt quasi, et dignissimos magnam corporis eaque commodi
                    quia adipisci blanditiis rerum qui. Cum fugiat delectus consequuntur repellat nisi soluta labore in
                    illum!
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorem doloremque quasi obcaecati
                    architecto quos, aliquam rerum officia numquam laboriosam voluptatem? Nisi quas veniam nemo minus
                    consequuntur fuga molestias sint deleniti? In, sapiente sint. Ipsa non iure laborum porro ipsam
                    impedit alias. Cupiditate dignissimos distinctio minus vero. Quasi quidem illo consectetur ipsam
                    ipsum soluta aspernatur earum sit nesciunt, similique officia voluptates, aliquid corporis adipisci!
                    Commodi deleniti non dolores sapiente cum laudantium esse voluptatem aliquid culpa. Mollitia
                    pariatur odit voluptas officia deserunt libero ipsam dolor tempore omnis quia numquam, veniam esse
                    rem doloribus saepe quasi eveniet nesciunt optio qui eligendi cumque architecto expedita et?
                    Asperiores magni nisi culpa, pariatur, fuga excepturi, deserunt doloremque eaque dolor possimus
                    reiciendis praesentium nesciunt obcaecati voluptate voluptatum ipsam voluptas ipsum. Eum esse odit
                    deleniti enim, amet porro provident commodi. Voluptas laudantium quaerat magni placeat, illo
                    consequuntur, sit dolor numquam error nam distinctio ipsam vero est! Corporis consequuntur dolore
                    dolor amet inventore doloribus magnam! Sit laborum optio fuga laudantium inventore modi recusandae
                    molestiae doloribus quos error sapiente vel harum quod tempora repellat accusamus vitae, rem
                    officia? Eligendi excepturi vero ipsam reprehenderit. Asperiores illum enim nulla soluta at
                    accusantium magni delectus voluptatum, obcaecati minus hic. Iure eos consequuntur dolor veritatis
                    soluta obcaecati ullam, similique deserunt eius magni accusantium suscipit libero. Eligendi minus,
                    aut laboriosam soluta, voluptates porro ut molestiae illo debitis voluptas voluptatum nulla
                    corrupti! Deserunt quod quo in accusamus. Similique quod omnis alias itaque odit nobis error
                    necessitatibus aperiam maxime, cupiditate, doloremque, ex amet libero? Eum, natus reprehenderit
                    minima ad sed consectetur minus cum incidunt quasi, et dignissimos magnam corporis eaque commodi
                    quia adipisci blanditiis rerum qui. Cum fugiat delectus consequuntur repellat nisi soluta labore in
                    illum!
                </div>
            </div>



        </div>

    </div>
</div> -->



<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header ">
        <h4 class="modal-title" id="modal-basic-title">Confirm Delete</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>Are you sure you want to delete this job post?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark w-25" (click)="c('close')">No</button>
        <button type="button" class="btn btn-danger w-25" (click)="c('Save click')">Yes</button>
    </div>
</ng-template>


<div class="container-fluid" style="width: 1500px; margin-bottom: 200px;">
    <div class="mt-4">
        <div class="hstack d-flex justify-content-between gap-3">
            <div class="hstack mx-4">

                <div class="me-3">
                    <mat-form-field appearance="outline" [style.width.px]=340>
                        <mat-label>Industry</mat-label>
                        <mat-select [(ngModel)]="industry">
                            <mat-option>None</mat-option>
                            <mat-option *ngFor="let state of IndustryOptions" [value]="state">{{state}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="me-3">
                    <mat-form-field appearance="outline">
                        <mat-label>Type</mat-label>
                        <mat-select [formControl]="JobType" [(ngModel)]="selectedTypes">
                            <mat-option *ngFor="let st of typeList" [value]="st">{{st}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

            </div>
            <div>
                <div class="d-flex mx-4">
                    <input class="form-control " style="width: 400px;" type="text" placeholder="Search"
                        aria-label="Search" [(ngModel)]="searchTerm">

                </div>
            </div>
        </div>


    </div>
    <div class="row m-4 ">
        <div class="col-5 bg-light border rounded-3 p-3 ">
            <div class="m-1 mt-4 overflow-auto" style="height: 1000px">
                <div class="card mb-3" style="max-width: 510px; height: 150px; border-radius: 10px; cursor: pointer;"
                    *ngFor="let job of jobpostservice.jobs | paginate: { itemsPerPage: pageSize, currentPage: page+1 ,totalItems:totalLength }
                    | filter:searchTerm | filter:selectedTypes | filter:industry" (click)="setJob(job) ">
                    <div class="row g-0">
                        <div class="col-md-3 display:block text-center">
                            <img [src]="job.image" style="max-height: 100px;"
                                class="img-fluid mx-auto card-img-overlay rounded-start" alt="...">
                        </div>
                        <div class="col-md-9">
                            <div class="card-body">
                                <span class="card-text text-black-50">{{job.company}}</span>
                                <h6 class="card-title m-0">{{job.title}}</h6>
                                <span class="card-text  text-black-50">{{job.location}}</span><br>
                                <small class="text-muted ">{{calcDateDiff(job.createdDate)}}</small>
                                <button type="button" *ngIf="job.publish" (click)="updatePublish(job._id,job.publish)"
                                    class="btn mt-2 btn-outline-dark pull-right w-50">Unpublish <i
                                        *ngIf="loading() && job._id == ujob"
                                        class="fa fa-circle-o-notch fa-spin"></i></button>
                                <button type="button" *ngIf="!job.publish" (click)="updatePublish(job._id,job.publish)"
                                    class="btn mt-2 btn-dark pull-right w-50">Publish <i
                                        *ngIf="loading() && job._id == ujob"
                                        class="fa fa-circle-o-notch fa-spin"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <mat-paginator class="" [length]="totalLength" [pageSize]="pageSize" [pageSizeOptions]="[10, 25, 50, 100]"
                aria-label="Select page" (page)="handlePageEvent($event)">
            </mat-paginator>


        </div>
        <div class="col-7 bg-white rounded-3 border border-secondary" style="height: 1150px">

            <div class=" m-4 p-4" *ngIf="!jobpostservice.selectedJob">
                <h2 class="text-center mt-5"> Please select a job</h2>
            </div>
            <div class=" m-4 p-4" *ngIf="jobpostservice.selectedJob ">
                <div class="row">
                    <div class="col-8">
                        <div class="d-inline-flex">
                            <h6 class="text-muted ">{{jobpostservice.selectedJob.company}}</h6>
                            <span class="text-muted mx-3 small">{{jobpostservice.selectedJob.location}}</span>
                        </div>

                        <h4 class="">{{jobpostservice.selectedJob.title}}</h4>
                        <h6 class="text-muted">{{jobpostservice.selectedJob.type}}</h6>
                        <div class="d-block">
                            <p class="mt-4 text-success" style="font-weight: 500;">
                                {{jobpostservice.selectedJob.appliedApplicants}} applicants</p>
                            <p class="badge bg-warning" *ngIf="achiring()">
                                Actively
                                Hiring</p>

                        </div>

                    </div>
                    <div class="col-4 mt-4 ">
                        <button type="button" class="btn w-50 mx-2 btn-primary " routerLink="editjobs">Edit</button>
                        <button type="button" class="btn  btn-danger" (click)="open(content)">Delete</button>

                    </div>

                    <div class="mt-5 overflow-auto jobdescription" style="height: 700px;">

                        {{jobpostservice.selectedJob.description}}
                    </div>
                    <hr class="mt-5">
                    <div class="d-flex justify-content-around">
                        <div class="d-block ">
                            <h5 class="text-center">Salary</h5>
                            <h4 class="text-muted ">$&nbsp;{{jobpostservice.selectedJob.salary}}.00
                            </h4>

                        </div>
                        <div class="d-block">
                            <h5 class="text-center">Website</h5>
                            <a href="https://{{jobpostservice.selectedJob.website}}">
                                <h4 class="text-muted">{{jobpostservice.selectedJob.website}}</h4>
                            </a>
                        </div>
                    </div>


                </div>


            </div>



        </div>