<form class="form-inline">
  <div class="overview-headings-left-container">
    <h6>Total Reviews</h6>
    <h6>Ratings - Overall</h6>
    <h6>Ratings - Culture & Values</h6>
    <h6>Ratings - Work/Life Balance</h6>
    <h6>Ratings - Senior Management</h6>
  </div>
  <div class="overview-desc-left-container">
    <h6 style="color: black;">{{totalReviews}} </h6>
    <h6>{{ratingsOverall}} Stars</h6>
    <h6>{{ratingsCnV}} Stars</h6>
    <h6>{{ratingsWnL}} Stars</h6>
    <h6>{{ratingsSM}} Stars</h6>
  </div>
</form>

<div style="width: 50%">
  <canvas id="canvas"></canvas>
</div>
